@font-face{
  font-family:'rsu-regular';
  src:url('./fonts/RSU_Regular.ttf');
}
@font-face{
  font-family:'rsu-bold';
  font-size: large;
  src:url('./fonts/RSU_BOLD.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: rsu-regular;
}